<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script src="https://kit.fontawesome.com/4ea6e3ab0b.js" crossorigin="anonymous"></script>


  <script type="text/javascript">
$(document).ready(function() {
    $("main").css("display", "none");
    $("main").fadeIn(1500);
    $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("main").fadeOut(1000, redirectPage);
    });

    function redirectPage() {
        window.location = linkLocation;
    }
});
</script>
</head>

<body>
  <nav>
    <%- include('partials/_header.ejs') %>
  </nav>
<main>
  <h1>Our Menu</h1>
  <!-- MENU ITEMS GRID - LOOP -->
  <ul class="menu-items">
    <% for (let obj of menu) { %>

      <!-- EACH ITEM -->
      <li class="menu-item">
        <!-- TITLE -->
        <div class="dish-title">
          <%= obj.title %>
        </div>
        <div class="dish-id">
          <%= obj.id %>
        </div>
        <div>
          <!-- PICTURE -->
          <img class="dish-thumbnail" src="<%= obj.thumbnail_photo %>" />
        </div>
        <!-- DESCRIPTION -->
        <div class="dish-description">
          <%= obj.description %>
        </div>
        <div class="price-and-button-wrp">
          <!-- PRICE -->
          <div class="item-price">
            $<%= Math.floor(obj.price / 100).toFixed(2) %>
              <!-- QUANTITY -->
          </div class="menu-item-button">
          <input type="number" class="item-quantity" name="item-quantity" min="0" max="12" value="1">
          <button type="submit" class="add-to-order">Add to order</button>
        </div>
      </li>
      <% } %>
  </ul>
  <!-- PLACE ORDER (IN THE BOTTOM OF THE PAGE) -->
  </div>
  <div class="place-my-order">
    <span>Items:</span>
    <div class="place-my-order-summary">
      <p class="place-my-order-summary"></p>
    </div>
    <div class="subtotal-wrapper">
      <span>Subtotal:</span>
      <p class="place-my-order-subtotal">$</p>
    </div>
    <div class="erase-or-review">
      <button id="erase-my-order-button" class="btn btn-primary" type="submit" value="submit">Start over</button>
      <form method="POST" action="/cart">
        <button id="place-my-order-button" class="btn btn-primary" type="submit" value="submit">Checkout</button>
      </form>
    </div>
  </div>
  <i id="back-to-top" class="fa-solid fa-square-caret-up"></i>
  </main>
</body>

</html>
