<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <nav>
    <%- include('partials/_header.ejs') %>
  </nav>
  <div class="welcome-wrapper">
    <div class="welcome-user">
      <p>Welcome, <%= users[0].name %>!
      </p>
    </div>
    <div class="welcome-order">
      <p>Order number: <%= users[0].order_id %><br>
        Order-status: <b><%= users[0].status %></b>
      </p>
    </div>
  </div>
  <h2 class="summary-title">Order summary:</h2>
  <!-- user order summary table -->
  <div class="table">
    <div class="items">
      <p>Item:</p>
      <p>
        <% for(let user of users) { %>
          <hr>
          <%= user.title %>
            <% } %>
      <hr><p>Subtotal:</p></p>
      <p>Taxes:</p>
      <p>Tips</p>
      <p><b>Total:</b></p>
      <p>Spicial instructions:-</p>
    </div>
    <div class="prices">
      <p>Price:</p>
      <p>
        <% for(let user of users) { %>
          <hr>
          $ &nbsp; <%= Math.floor(user.price / 100).toFixed(2) %>
            <% } %>
            <hr class = "total">
    </div>
    
    <div class="quantity">
      <p>Quantity:</p>
      <p>
        <% for(let user of users) { %>
          <hr>
          <%= user.quantity %>
            <% } %>
            <hr class = "total">
           
           
    </div>
    <div class="amount">
      <p>Total Price:</p>
      <p>
        <% for(let user of users) { %>
          <hr>
          $ &nbsp;<%= Math.floor(user.amount / 100).toFixed(2) %>
            <% } %>
            <hr class = "total">
            <p>$ &nbsp;<%= Math.floor(sum).toFixed(2) %>
            </p>
            </p>
            <p>$ &nbsp;<%= Math.floor(countTax / 100).toFixed(2) %></p>
            $ &nbsp;<%= Math.floor(users[0].tip).toFixed(2) %>
            <p>$ &nbsp;<b><%= Math.floor(totalAmount).toFixed(2)%></p></b>
            <div class="notes"> <%= users[0].notes %>I am vegan please be careful with my order  </div>
            <hr><hr>
    </div>
  </div>
  
</body>

</html>
